<ion-tabs>
  <ion-tab-bar class="custom-tab-bar" slot="bottom">
    <ion-tab-button  tab="home">
      <ion-icon aria-hidden="true" name="list-outline" href="../pages/home/home.page.html"></ion-icon>
      <ion-label>Zoznamy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="import-export">
      <ion-icon aria-hidden="true" name="download-outline"></ion-icon>
      <ion-label>Import/Export</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="../pages/profile/">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Nastavenia</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
